<div class="post-card">
  <h2>{{ post.title }}</h2>
  <p>{{ post.body }}</p>
  <div class="button-container">
    <button (click)="toggleComments()">
      <mat-icon id="button-icon">comment</mat-icon>
      <span>comments</span>
    </button>
    <button (click)="toggleTextField()" [ngClass]="{ cancel: showTextField }">
      <mat-icon id="button-icon">{{
        showTextField ? 'cancel' : 'add'
      }}</mat-icon>
      <span>{{ showTextField ? 'cancel' : 'add' }}</span>
    </button>
    <button (click)="submitComment()" [ngClass]="{ hidden: !showTextField }">
      <span> submit </span>
      <mat-icon id="button-icon">check</mat-icon>
    </button>
  </div>
  <div class="input-container" [ngClass]="{ hidden: !showTextField }">
    <textarea name="comment" id="comment-text-area" cols="30" rows="10">
    </textarea>
  </div>
  <div *ngIf="showComments">
    <app-comment-card
      *ngFor="let comment of comments"
      [comment]="comment"
    ></app-comment-card>
  </div>
</div>

