<div class="post-card">
  <h2>{{ post.title }}</h2>
  <p>{{ post.body }}</p>
  <div class="button-container">
    <button (click)="toggleComments()">
      <mat-icon id="button-icon">comment</mat-icon>
      <span>comments</span>
    </button>
    <button (click)="toggleTextField()">
      <mat-icon id="button-icon">add</mat-icon>
      <span>add</span>
    </button>
  </div>
  <div *ngIf="showTextField">
    <app-comment-section [post]="post"></app-comment-section>
  </div>
  <div *ngIf="showComments">
    <app-comment-card
      *ngFor="let comment of comments"
      [comment]="comment"
    ></app-comment-card>
  </div>
</div>
