.post-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 700px;
}

.post-card h3 {
  margin-top: 0;
  color: #333;
}

.post-card a {
  color: #007bff;
  text-decoration: none;
}

button {
  margin-bottom: 1rem;
}

.button-container {
  display: flex;
  gap: 0.2em;
  flex-direction: row;

  button {
    padding: 0.5em 0.8em;
    border: none;
    background-color: #f4f0f0;
    display: flex;
    align-items: center;
    gap: 0.2em;

    span {
      font-size: 1.2em;
      color: #333;
    }
  }

  button:hover {
    cursor: pointer;
    background-color: #e0e0e0;

    #button-icon {
      transform: scale(1.2);
      transition: transform 0.3s ease;
    }
  }

  :nth-child(1) {
    border-radius: 0.5em 0 0 0.5em;
  };
  :nth-child(2) {
    border-radius: 0 0.5em 0.5em 0;
  };
}
